{% extends 'base.html.twig' %}

{% block title %}New Medication{% endblock %}

{% block body %}
    <h1>Create new Medication</h1>

    {{ include('medication/_form.html.twig') }}

    <a href="{{ path('medication_index') }}">back to list</a>
{% endblock %}
