{% extends 'base.html.twig' %}
{% block title %}
    Doctogood
{% endblock %}
        {% block body %}
            <div class="text-primary text-center">
                <div>
                    <a href="{{ path('homePatient', {'id': 1})}}">Patient</a>
                    <div>
                    </div>
                    <a href="{{ path('homeDoctor', {'id': 1})}}">Doctor</a>
                </div>
            </div>
        {% endblock %}
