{% extends 'base.html.twig' %}
{% block title %}
    Doctogood | Home
{% endblock %}
        {% block body %}
            <section>
                <h1 class="text-center text-hide">Welcome</h1>
            <div class="text-primary text-center">
                <div>
                <div class="home">
                    <a class="btn btn-primary m-5" href="{{ path('homePatient', {'id': patient.id})}}">Patient</a>
                    <a class="btn btn-primary m-5" href="{{ path('homeDoctor', {'id': doctor.id})}}">Doctor</a>
                </div>
            </div>
            </section>
        {% endblock %}
