{% extends 'base.html.twig' %}
{% block title %}
    test
{% endblock %}
        {% block body %}
        <h1 class="bg-primary">TEST fd bleu</h1>
            {{  "123456789"|formatPhoneFr }}
        {% endblock %}
