{% extends 'base.html.twig' %}
{% block title %}
    Docto_Dep
{% endblock %}
        {% block body %}
            <div>
                <img src="build/images/logo.png">
                <img src="build/images/nuages.png">
                <img src="build/images/soleil.png">
                <img src="build/images/nuageux.png">
            </div>
        <h1>Docto_Dep</h1>
            {{  "123456789"|formatPhoneFr }}
        {% endblock %}
