{% extends 'base.html.twig' %}
{% block title %}
    Doctogood
{% endblock %}
        {% block body %}
            <div class="text-primary text-center">
                <div>
                    <a href="">Patient</a>
                    <div>
                    </div>
                    <a href="">Doctor</a>
                </div>
            </div>
        {% endblock %}
