{% extends 'base.html.twig' %}
{% block title %}
    Doctogood | Patient Home
{% endblock %}
{% block body %}
    <section class="mb-5 mb-md-0">
        <h1 class="text-secondary text-center p-3">Hello, {{ patient.firstname }} {{ patient.lastname }}</h1>
        <div>
            <div class="card-deck mx-2 d-flex flex-wrap justify-content-around">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="text-primary card-title">
                            <svg class="bi bi-calendar3" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                <path fill-rule="evenodd"
                                      d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                            My next appointment
                        </h3>
                        <div class="card-text text-dark text-center">20 juillet 2020 <br>10h00</div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="text-primary card-title">
                            <svg class="bi bi-check2-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd"
                                      d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                            </svg>
                            Prescriptions
                        </h3>
                        <div>
                            <table class="table table-sm ">
                                <thead>
                                <tr>
                                    <th scope="col" class="py-2">Medicine</th>
                                    <th scope="col" class="py-2">Morning</th>
                                    <th scope="col" class="py-2">Noon</th>
                                    <th scope="col" class="py-2">Evening</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for prescritpion in prescritpions %}
                                {% if (prescritpion.startDate| date_modify ('+' ~ prescritpion.duration ~ ' days')|date('Y-m-d') >= "now"|date('Y-m-d')) and (prescritpion.startDate|date('Y-m-d') <= "now"|date('Y-m-d')) %}
                                <tr>
                                    <th class="py-2">{{ prescritpion.medication.name }}</th>
                                    <td>
                                        {% if prescritpion.morning == 1 %}
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if prescritpion.noon == 1 %}
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if prescritpion.evening == 1 %}
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        {% endif %}
                                    </td>
                                </tr>
                                        {% endif %}
                                        {% endfor %}
                                </tbody>
                            </table>
                            {% if prescritpions is empty %}
                                <p class="font-italic">You have no current prescription</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="text-primary card-title">
                            <svg class="bi bi-sun" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.5 8a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0z"/>
                                <path fill-rule="evenodd"
                                      d="M8.202.28a.25.25 0 0 0-.404 0l-.91 1.255a.25.25 0 0 1-.334.067L5.232.79a.25.25 0 0 0-.374.155l-.36 1.508a.25.25 0 0 1-.282.19l-1.532-.245a.25.25 0 0 0-.286.286l.244 1.532a.25.25 0 0 1-.189.282l-1.509.36a.25.25 0 0 0-.154.374l.812 1.322a.25.25 0 0 1-.067.333l-1.256.91a.25.25 0 0 0 0 .405l1.256.91a.25.25 0 0 1 .067.334L.79 10.768a.25.25 0 0 0 .154.374l1.51.36a.25.25 0 0 1 .188.282l-.244 1.532a.25.25 0 0 0 .286.286l1.532-.244a.25.25 0 0 1 .282.189l.36 1.508a.25.25 0 0 0 .374.155l1.322-.812a.25.25 0 0 1 .333.067l.91 1.256a.25.25 0 0 0 .405 0l.91-1.256a.25.25 0 0 1 .334-.067l1.322.812a.25.25 0 0 0 .374-.155l.36-1.508a.25.25 0 0 1 .282-.19l1.532.245a.25.25 0 0 0 .286-.286l-.244-1.532a.25.25 0 0 1 .189-.282l1.508-.36a.25.25 0 0 0 .155-.374l-.812-1.322a.25.25 0 0 1 .067-.333l1.256-.91a.25.25 0 0 0 0-.405l-1.256-.91a.25.25 0 0 1-.067-.334l.812-1.322a.25.25 0 0 0-.155-.374l-1.508-.36a.25.25 0 0 1-.19-.282l.245-1.532a.25.25 0 0 0-.286-.286l-1.532.244a.25.25 0 0 1-.282-.189l-.36-1.508a.25.25 0 0 0-.374-.155l-1.322.812a.25.25 0 0 1-.333-.067L8.203.28zM8 2.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11z"/>
                            </svg>
                            What's my mood today?
                        </h3>

                        {% if mooddaySend.date is not defined %}
                            {% include 'moodday/new.html.twig' %}
                        {% else %}
                            <p class="font-italic">Come back tomorrow !</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/quote.html.twig' %}
    </section>
{% endblock %}
