{% extends 'base.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block body %}
    <div class="w-25 m-auto text-center">
    <h1>Create new Patient<br>for Dr {{ doctor.firstname }} {{ doctor.lastname }}</h1>
    {{ include('patient/_form.html.twig') }}
    </div>
    <a class="btn btn-primary text-light" href="{{ path('homeDoctor', {'id': doctor.id}) }}">Back to the doctor</a>
{% endblock %}
