<div class="patient-quote d-flex flex-column text-center align-items-center quote my-4">
    <blockquote class="blockquote bg-white p-4 shadow w-75 d-flex flex-column">
        <i class="fa fa-quote-left align-self-start text-primary"></i>
        <p class="mb-0 mt-2 font-italic">{{ quote.name }}</p>
        <footer class="blockquote-footer"><cite title="Source Title">{{ quote.author }}</cite></footer>
        <i class="fa fa-quote-right align-self-end text-primary"></i>
    </blockquote>
</div>
