{% extends 'base.html.twig' %}

{% block title %}Doctogood | New Prescription{% endblock %}

{% block body %}
    <h1 class="text-center p-3">New Prescription</h1>

    {{ include('prescritpion/_form.html.twig') }}

<div class="row justify-content-center my-4">
    <a href="{{ path('patientDetails', {'id': patient.id}) }}">Back to patient file</a>
</div>
{% endblock %}
