{% extends 'base.html.twig' %}

{% block title %}New Prescritpion{% endblock %}

{% block body %}
    <h1>Create new Prescritpion</h1>

    {{ include('prescritpion/_form.html.twig') }}

    <a href="{{ path('patientDetails', {'id': patient.id}) }}">Back to patient details</a>
{% endblock %}
