.weather img{
  width: 35px;
  object-fit: contain;
}

#moodday_mood label {
  display: none;
}

#moodday_mood {
  display: flex;
  justify-content: space-around;
}

.weather {
  display: flex;
  justify-content: space-around;
}