$light: #fff;
$dark: #231310;
$primary: #0596DE;
$secondary: #11689E;
$danger: #ff493B;

$ech1: #e30a0a;
$ech2: #e26e4a;
$ech3: #d7c835;
$ech4: #05de79;
$ech5: #0d7804;


$quote-font: 'Merriweather', serif;

$title-font: 'Montserrat', sans-serif;

$main-font: 'Roboto', sans-serif;
