$light: #fff;
$dark: #231310;
$primary: #0596DE;
$secondary: #11689E;
$danger: #ff493B;

$quote-font: 'Merriweather', serif;

$title-font: 'Montserrat', sans-serif;

$main-font: 'Roboto', sans-serif;
