<div class="fixed-bottom">
    <footer class="page-footer bg-secondary pt-3">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h3 class="text-light">Liens utiles</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.sos-amitie.org/" target="_blank">S.O.S Amitié</a>
                        </li>
                        <li>
                            <a href="http://www.info-depression.fr/" target="_blank">Info dépression</a>
                        </li>
                        <li>
                            <a href="https://www.unps.fr/" target="_blank">Site de l'Union Nationale de Prévention du Suicide</a>
                        </li>
                        <li>
                            <a href="http://www.filsantejeunes.com" target="_blank">Fil Santé Jeunes</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/c/HunniBeeASMR/featured" target="_blank">Chaîne de vidéos ASMR</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h3 class="text-light">À propos</h3>
                    <ul class="list-unstyled">
                        <li class="footer_links">
                            <a href="https://www.doctolib.fr/" target="_blank">Site officiel de Doctolib</a>
                        </li>
                        <li class="footer_links">
                            <a href="https://about.doctolib.fr/" target="_blank">A propos de nous</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: Doctogood.com
        </div>
    </footer>
</div>
