<footer class="page-footer bg-secondary pt-5">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3 text-light">
                    <h3>Links</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.sos-amitie.org/" target="_blank">S.O.S Friendship</a>
                        </li>
                        <li>
                            <a href="http://www.info-depression.fr/" target="_blank">Depression information</a>
                        </li>
                        <li>
                            <a href="https://www.unps.fr/" target="_blank">National Union for Suicide Prevention</a>
                        </li>
                        <li>
                            <a href="http://www.filsantejeunes.com" target="_blank">Young People's Health Line</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/c/HunniBeeASMR/featured" target="_blank">ASMR videos channel</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-6 mt-md-0 mt-3 text-light">
                    <h3>About Doctogood</h3>
                    <ul class="list-unstyled">
                        <li class="footer_links">
                            <a href="https://www.doctolib.fr/" target="_blank">Official website of Doctolib</a>
                        </li>
                        <li class="footer_links">
                            <a href="https://about.doctolib.fr/" target="_blank">About us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: Doctogood.com - by TeamBarbie
        </div>
    </footer>
