{% extends 'base.html.twig' %}

{% block title %}Edit Mood{% endblock %}

{% block body %}
    <h1>Edit Mood</h1>

    {{ include('mood/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mood_index') }}">back to list</a>

    {{ include('mood/_delete_form.html.twig') }}
{% endblock %}
