{% extends 'base.html.twig' %}

{% block title %}New Mood{% endblock %}

{% block body %}
    <h1>Create new Mood</h1>

    {{ include('mood/_form.html.twig') }}

    <a href="{{ path('mood_index') }}">back to list</a>
{% endblock %}
